body{
    background-color:rgb(5, 6, 7);
}
.todo-list{
  display: flex;
  flex-direction:column;
  width: 50%;
  border: 1px solid #000;
  margin: auto;
  background-color:rgb(83, 92, 92);
  padding:30px;
  align-items: center;
}
.todo-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(58, 58, 58);
    color: #fff;
    padding: 30px 20px 0;
    width: 70%;
    margin: 0 0 0 3px;
    border-bottom: 1px solid #cecece;
    font-size: 20px;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
   
}
input{
    width:30px;
    height:30px;
    background:rgb(102, 100, 100);
    border-radius:5px;
    border:4px solid #555;
   
}